
/* Container principal do layout */
.layout-login {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
}

/* Área onde as páginas serão renderizadas */
.layout-login-main {
  width: 100%;
  box-sizing: border-box;
}